.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



html {
    position: relative;
    /*for sticky footer */
    min-height: 100%;
    /*for sticky footer */
    min-width: 100%;
}
.main {
/*     margin-top: 78px; */
    margin-bottom: 78px;
}

body {
    background: url("./images/satinweave.png");

/*     margin-bottom: 40px; */
    /*for sticky footer */
    color: #212121;
}


/* Fonts */

.h-font {
    font-family: 'EB Garamond', serif;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}